#macro( showAllUrl $entity)
  #springUrl("/$entity")
#end

#macro( showByIdUrl $entity $id )
  #springUrl("/$entity/$id")
#end

#macro( deleteUrl $entity $id )
  #springUrl("/$entity/delete/$id")
#end

#macro( editUrl $entity $id )
  #springUrl("/$entity/edit/$id")
#end

#macro( showErrors )
	<br>
	#springShowErrors("<br>" "color:red;font-weight:bold;")
#end

#macro( inputValue $val )
	#if(!$val == "")
		$val
	#end
#end



